name: Run RestAssured Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Instalar dependências
        run: mvn clean install -DskipTests

      - name: Executar testes e gerar resultados Allure
        run: mvn test

      # --- Gerar relatório completo do Allure ---
      - name: Instalar Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y allure

      - name: Gerar relatório Allure
        run: |
          allure generate target/allure-results -o allure-report --clean

      # --- Publicar relatório como artefato do GitHub ---
      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report
