name: Run RestAssured Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Instalar dependências
        run: mvn clean install -DskipTests

      - name: Executar testes e gerar resultados Allure
        run: mvn test

      # --- Instalar Allure CLI manualmente ---
      - name: Instalar Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y openjdk-17-jre-headless wget unzip
          wget https://github.com/allure-framework/allure2/releases/download/2.29.1/allure-2.29.1.zip
          unzip allure-2.29.1.zip -d /opt/allure
          sudo ln -s /opt/allure/allure-2.29.1/bin/allure /usr/local/bin/allure
          allure --version

      # --- Gerar relatório Allure ---
      - name: Gerar relatório Allure
        run: |
          allure generate target/allure-results -o allure-report --clean

      # --- Upload do relatório Allure ---
      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report
