name: Run RestAssured Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Instalar dependências
        run: mvn clean install -DskipTests

      - name: Executar testes com Maven
        run: mvn test

      - name: Gerar relatório Allure
        run: |
          mvn io.qameta.allure:allure-maven:report
          mkdir -p allure-results
          cp -r target/site/allure-maven-plugin/* allure-results/

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-results
