name: Run RestAssured Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Instalar dependências
        run: mvn clean install -DskipTests

      - name: Executar testes com Maven (gera allure-results)
        run: mvn test

      - name: Upload allure-results como artefato
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: target/allure-results
