name: Run API Tests with Allure (JUnit 5)

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # 1. Configurar Java
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'

    # 2. Instalar o Allure Report CLI
    - name: Instalar Allure CLI
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - run: npm install -g allure-commandline

    # 3. Executar Testes com Maven
    # O comando 'test' gera os arquivos XML/JSON brutos do Allure em 'target/allure-results'
    - name: Executar Testes com Allure
      run: mvn test -Dmaven.compiler.parameters=true

    # 4. Gerar e Compactar o Relatório Final (.zip)
    - name: Gerar e Compactar Relatório Allure
      # O Allure CLI gera o relatório em HTML na pasta 'allure-report'
      run: |
        allure generate --clean allure-results
        zip -r allure-report.zip allure-report/
      
      # NOTE: Se a etapa 'mvn test' falhar, os relatórios ainda serão gerados.
      if: always()

    # 5. Publicar o Arquivo .zip como Artefato
    - name: Publicar Artefato (allure-report.zip)
      uses: actions/upload-artifact@v4
      with:
        name: allure-html-report
        path: allure-report.zip # Publica o arquivo ZIP
        retention-days: 7
